@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../src/assets/pictures/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#root {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 80vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

nav ul li {
  font-size: 20px;
  color: #8B8A8B;
}

nav ul li a {
  text-decoration: none;
  color: #8B8A8B;
  font-family: "Oxygen", sans-serif;
}

nav ul li a:hover {
  color: #fff;
}

nav h1 {
  font-family: "Oxygen", sans-serif;
  font-size: 30px;
  color: #B742FF;
}

nav h2 a {
  color: #B742FF;
  text-decoration: none;
}

nav h2 a:hover {
  color: #fff;
}

nav h2 {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  color: #B742FF;
}

.search{
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 50%;
  height: 7%;
  padding: 2px;
  display: flex;
  background-color: #F2F2F2;
  border: 1px solid #8B8A8B;
  border-radius: 10px 10px;
  margin-bottom: 20px;
}

input{
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  color: #B742FF;
  border: none;
  height: 100%;
  width: 80%;
  background-color: #F2F2F2;
}

.search ul {
  width: 40%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #8B8A8B;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;
  text-align: justify;
  
}

.input button {
  width: 20%;
  height: 100%;
  background-color: #B742FF;
  border: none;
  border-radius: 5px 5px;
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  font-size: 15px;

}